
.container {
  background-color: tomato;
  width: 300px;
}

.btn {
  background-color: aqua;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn:hover {
  background-color: white;
  color: aqua;
  border: 1px solid aqua;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}